body{
    background-color: black;
    color: aliceblue;
}
.fa-sticky-note{
    color: yellow;
}
.fa-sticky-note:hover{
    color: orangered;
}
.list{
    font-weight: lighter;
    font-size: 2rem;
}
#heading{
    color: white;
    margin: 0px 200px;
    font-size: 1.5rem;
    /* border: 1px solid white; */
}
.addbtn{
    display: inline-block;
    /* background-color: aqua; */
    position: relative;
    
    z-index: 15;
}
.fa-plus-circle:hover {
    color: orangered;
}
.adI{
    /* border: 1px solid white; */
    font-size: 2.5rem;
    padding: 5px;
    cursor: pointer;
}
.adI:hover{
    /* background-color: burlywood;
    border-radius: 20px; */
}
#heading h1{
    width: 70%;
    display: inline-block;
    /* border: 1px solid white; */
}
.fa-plus-circle{
    font-size: 3rem;
}
/* #heading{
filter: blur(5px);
} */

.popEle{
    filter: none;
    border: 1px solid orange;
    display: inline-block;
    width: 30%;
    /* height: 200px; */
    margin: 0px 30%;
    padding: 30px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 5px 5px 5px orangered;
    position: absolute;
    top: 250px;
    z-index: 10;
}
.popEle h2{
    margin-top: 0%;
    font-size: 3rem;
    color: orangered;
}
.inp{
    width: 80%;
    font-size: 1.5rem;
    padding: 10px ;
    margin: 10px 9%;
    border: 2px solid #000;
    border-radius: 10px;
}
.inp:focus{
    background-color: rgba(0, 0, 255, 0.331);
}

.btn1{
    padding: 15px;
    width: 25%;
    margin-left: 25%;
    background-color: rgb(229, 102, 56);
    border-radius: 10px;
    /* font-weight: 1.5rem; */
    cursor: pointer;
    margin-top: 30px;
    font-size: 1.5rem;
    overflow: hidden;
}
.btn1:hover{
    background-color: chartreuse;
}

.btn2 {
    padding: 15px;
    width: 25%;
    margin-left: 5%;
    background-color: rgb(229, 102, 56);
    /* font-weight: 1.5rem; */
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 1.5rem;
    overflow: hidden;
}
.btn2:hover{
    background-color: red;
}
#Task{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.TaskBox2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.TaskBox{
    border: 2px solid #000;
    background-color: aliceblue;
    color: black;
    width: 15%;
    min-height:450px;
    border-radius: 20px;
    background-color: aliceblue;
}
.h3D{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    /* color: aquamarine; */
    font-size: 2rem;
}
.h3D:hover{
    color: orangered;
}
.MidBlock{
    /* border: 3px solid #000; */
    width: 80%;
    margin:auto;
    height: 300px;
    /* background-color: aqua; */
}
.footerList{
    width: 100%;
    height: 60px;
    border-top: 1px solid #000;
    /* background-color: blue; */
    margin: auto;
}

.footAdd{
    font-size: 2rem;
    color: orangered;
    margin: 10px;
    float: right;
}
.footAdd:hover{
    color: black;
}
.taskStoreP{
    /* border: 1px solid #000; */
    color: black;
    font-size: 1.5rem;
    display: inline-block;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    line-height: 2;
    
}
.cancelTask{
    background-color: rgba(0, 0, 255, 0.374);
    border-radius: 30px;
    border: none;
    padding: 3px;
    float: right;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    /* text-decoration: line-through; */
}
/* #wrapper{
    visibility: visible;
} */
.backB{
    display: inline-block4;
    color: white;
    cursor: pointer;
}
.p2Container{
    width: 100%;
    border: 1px solid white;
    min-height: 100px;
}
#page2{
    border: 10px solid orangered;
    width: 100vw;
    min-height: calc(100vh - 4px);
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    /* z-index: -10; */
}
.page2LayOut{
    width:15vw;
    margin: 50px 43%;
}
.backbtn{
    font-size: 3rem;
}
.headingp2{
    text-align: center;
    font-size: 4rem;
}
.fa-arrow-alt-circle-left{
    color: orangered;
}

.fa-arrow-alt-circle-left:hover{
    color: wheat;
    cursor: pointer;
}

.plus{
    color: orangered;
    float: right;
}
.plus:hover{
    color: aliceblue;
}